.list {
	display: flex;
	justify-content: space-between;
	width: 620px;
	padding: 24px 32px;
	background-color: #f2f2f2;
	border-radius: 5px;

	& > .left {
		width: 100%;

		& > .top {
			display: flex;
			align-items: center;

			& > .line-through {
				text-decoration: line-through;
				color: #9b9b9b;
			}

			& > .todo-context {
				font-size: 24px;
				margin-left: 16px;
			}

			& > .field-fix {
				width: 100%;
				margin-left: 32px;
			}
		}

		& > .down {
			display: flex;
			align-items: center;
			padding-left: 40px;
			height: calc(100% - 30px);

			& > .icon-fix {
				margin-top: 16px;
				color: #757575;
				font-size: 16px;

				&:not(:first-child) {
					margin-left: 16px;
				}
			}

			& > span {
				margin-top: 16px;
				margin-left: 8px;
				color: #757575;
			}
		}
	}

	& > .right {
		display: flex;

		& > span {
			cursor: pointer;

			& > .star {
				color: #f5a623;
			}

			& > .edit {
				color: #4a90e2;
			}

			& :not(:first-child) {
				margin-left: 32px;
			}
		}
	}
}

.color-list {
	background-color: #fff2dc;
}

.squared-bottom {
	border-radius: 5px 5px 0 0;
}
