.list {
	display: flex;
	justify-content: space-between;
	width: 620px;
	padding: 24px 32px;
	background-color: var(--lightGray);
	border-radius: 5px;

	@media screen and (--small-tablet) {
		margin: auto;
		width: 480px;
		padding: 16px 32px;
	}

	@media screen and (--phone) {
		margin: auto;
		width: 480px;
		padding: 8px 16px;
	}

	& > .left {
		width: 100%;

		& > .top {
			display: flex;
			align-items: center;

			& > .line-through {
				text-decoration: line-through;
				color: var(--input-gray);
			}

			& > .field-fix {
				width: 100%;
				margin-left: 32px;

				& > input {
					&:focus {
						border: none;
					}
				}
			}
		}

		& > .down {
			display: flex;
			align-items: center;
			padding-left: 40px;
			height: calc(100% - 30px);

			@media screen and (--phone) {
				adding-left: 30px;
			}

			& > .icon-fix {
				margin-top: 16px;
				color: var(--darkGray);
				font-size: 16px;

				&:not(:first-child) {
					margin-left: 16px;
				}

				@media screen and (--phone) {
					margin-top: 8px;
					font-size: 12px;
				}
			}

			& > span {
				margin-top: 16px;
				margin-left: 8px;
				color: var(--darkGray);

				@media screen and (--phone) {
					display: none;
				}
			}
		}
	}

	& > .right {
		display: flex;

		@media screen and (--small-tablet) {
			justify-content: center;
			align-items: center;
		}

		@media screen and (--phone) {
			justify-content: center;
			align-items: center;
		}


		& > span {
			cursor: pointer;

			& > .star {
				color: var(--yellow);
			}

			& > .edit {
				color: var(--blue);
			}

			&:not(:first-child) {
				margin-left: 32px;

				@media screen and (--phone) {
					margin-left: 16px;
				}

			}

			& > i {
				@media screen and (--small-tablet) {
					font-size: 20px;
				}

				@media screen and (--phone) {
					font-size: 18px;
				}
			}
		}
	}
}

.color-list {
	background-color: var(--lightYellow);
}

.squared-bottom {
	border-radius: 5px 5px 0 0;
}
