.todolist {
	margin-top: 24px;

	@media screen and (--phone) {
		margin-top: 16px;
	}

	& > .input-panel {
		margin-bottom: 24px;

		@media screen and (--phone) {
			margin-bottom: 16px;
		}
	}

	@media screen and (--phone) {
		width: 100%;
	}
}
