.field {
	& > input {
		width: 100%;
		height: 30px;
		padding: 0 12px;
		font-size: 12px;
		font-weight: 300;
		letter-spacing: 0.5px;
		border: 1px solid var(--white);
		outline: none;
		transition: border 0.2s;

		/* &:focus {
			border: 1px solid var(--lightGray);
		} */
	}

	& > .border {
		border: none;
	}

	&.icon {
		display: inline-flex;
		width: 100%;
		height: 35px;

		& > i {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 35px;
			font-size: 18px;
			border: 1px solid var(--gray);
			border-right: 0;
			color: var(--black);
			transition: border 0.2s;
		}

		& > input {
			height: 100%;
		}
	}

	&.file > input {
		border: none;
	}

	&.invalid {
		& > i,
		& > input {
			border-color: #d0021b;
		}
	}
}
