.button {
	display: flex;
	justify-content: center;
	position: relative;
	width: 310px;
	height: 60px;
	padding: 16px 0;
	outline: none;
	border: none;
	transition: all 0.3s;

	& > div {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-weight: 400;
		font-size: 24px;
		color: var(--black);

		& > i {
			font-size: 24px;
			margin-right: 14px;
		}
	}

	&:hover {
		cursor: pointer;
	}

	&.save {
		background: var(--blue);

		& > div,
		& i {
			color: var(--white);
		}

		/* &:hover {
			background: var(--grayLight);
		}

		&:focus {
			border: 1px solid var(--accent);
		}

		&:active {
			border: 1px solid var(--accent);
			background: var(--pinkLight);
		} */
	}

	&.cancel {
		background: var(--white);

		& > div,
		& i {
			color: var(--red);
		}

		/* &:hover,
		&:focus,
		&:active {
			background: var(--accent);
		} */

		/* &.disabled {
			background: var(--white);
		} */
	}

	&.upload {
		background: #c8c8c8;

		& > div,
		& i {
			color: var(--lightGray);
		}
	}

	&.disabled {
		background: solid 1px gray;
		cursor: no-drop;

		& > div {
			color: #c8c8c8;

			& > i {
				color: #c8c8c8;
			}
		}
	}
}
